/*always*/
body{
    background: #18171b;
}
hr {
    border-top: 1px solid #2C2930;
}
.white{
    color:white !important;
}
.grey{
    color:#696673 !important;
}
.orange{
    color:#fc7323 !important;
}
.violet{
    color:#856bbf !important;
}
.green{
    color:#4cba36 !important;
}

/*lottery*/

#lot_menu *{
    color:white;
}
#lot_menu div.menu:nth-child(odd){
    padding-top:20px;
    padding-bottom: 20px;
}
#lot_menu div.menu:nth-child(even){
    padding-top:10px;
    padding-bottom: 10px;
}
#lot_menu div.menu:nth-child(1),#lot_menu div.menu:nth-child(2){
    border-bottom: 2px solid #fc7323;
    background: #383641;
}
#lot_menu div.menu:nth-child(3),#lot_menu div.menu:nth-child(4),#lot_menu div.menu:nth-child(5),#lot_menu div.menu:nth-child(6){
    border-bottom: 2px solid #25242e;
    background: #25242e;
}
#lot_menu div.menu:nth-child(5){
    border-left: 2px solid #18171B;
}
.second_line{
    border-radius:10px;
    background: #6a6870;
    padding:1px 9px;
}
#lot_content{
    margin:60px auto;
    display: flex;
}
#lot_content .point_block img{
    padding:10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(75, 73, 80);
    border-radius: 50%;
    background-color: rgb(13, 25, 32);
    -webkit-box-shadow: 0px 0px 73px 6px rgba(6,28,36,1);
    -moz-box-shadow: 0px 0px 73px 6px rgba(6,28,36,1);
    box-shadow: 0px 0px 73px 6px rgba(6,28,36,1);
}
.item_more{
    display:inherit;
    margin-top: 9%;
    text-align:left;
}

#enter_lottery{
    background: #00a2ff;
    padding:5px 70px;
    border-radius:5px;
    margin: 10px auto;
    display:inline-block;
}
#lot_footer{
    margin:30px auto;
}

/*spin*/
#main_spin{
    width:400px;
    height:400px;
    background: red;
    margin:40px auto;
    
}
