
<header *ngIf="loggedIn">
    <div class="header-container">
        <div class="header-left pull-left">
            <img src="./images/logo.png" alt="Rsgalaxy">
            <div class="last-winner"><span>Bob3253</span> has climed a 153M jackpot 15 min. ago!</div>
        </div>
        <div class="header-right pull-right">
            <div class="balance">
                Balance:
                <span>{{profileInfo.balance}}</span>
            </div>
            <div class="tot-money">
                Total money played:
                <span>{{profileInfo.totalpayed}}</span>
            </div>
            <div class="avatar">
                <a >
                    <img src="./images/icon-3.png" alt="">
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<nav class="nav-class" *ngIf="loggedIn">
    <div class="navbar">
        <div class="games">
            <p>Games</p>
            <ul class="nav">
                <li>
                    <a >Dicing <span></span></a>
                </li>
                <li>
                    <a [routerLink]="['/jackpot']">Jackpot Games <span class="active">7 Live</span></a>
                </li>
                <li>
                    <a  [routerLink]="['/treasure']">Treasure Hunter <span></span></a>
                </li>
                <li>
                    <a [routerLink]="['/spin']">Spin To Win <span></span></a>
                </li>
                <li>
                    <a [routerLink]="['/lottery']">Lottery <span class="active">3 Live</span></a>
                </li>
            </ul>
        </div>
        <div class="profil-details">
            <p>Your Account</p>
            <ul class="nav">
                <li><a href="#" class="">My Profile</a></li>
                <li><a href="#">My Plays</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-footer">
        <div id="deposit" class="col-xs-6">
            <a href="#">
                <i></i> <span>Deposit</span>
            </a>
        </div>
        <div id="withdraw" class="col-xs-6">
            <a href="#">
                <i></i> <span>Withdraw</span>
            </a>
        </div>
    </div>
</nav>

 <router-outlet></router-outlet>
