<div id="main">
<div class="container-content" id="lot_menu">
    <div class="menu text-center col-xs-2">
        {{misterInfo.name}}
        <i class="fa fa-question-circle-o fa-lg grey" aria-hidden="true"></i>
    </div>
    <div class="menu text-center col-xs-2">
        Total prize: {{misterInfo.prize}}+<br>
        <span class="second_line">{{misterInfo.date}} until it drops</span>
    </div>
    <div class="menu text-center col-xs-2">
        {{weekInfo.name}} 
        <i class="fa fa-question-circle-o fa-lg grey" aria-hidden="true"></i>
    </div>
    <div class="menu text-center col-xs-2">
        Total prize: {{weekInfo.prize}} +<br>
        <span class="second_line">{{weekInfo.date}} until it drops</span>
    </div>
    <div class="menu text-center col-xs-2">
        {{monthlyInfo.name}}
        <i class="fa fa-question-circle-o fa-lg grey" aria-hidden="true"></i>
    </div>
    <div class="menu text-center col-xs-2">
        Total prize:{{monthlyInfo.prize}}b+<br>
        <span class="second_line">{{monthlyInfo.date}} until it drops</span>
    </div>
</div>
<div class="container-content" id="lot_content">
    <div  *ngFor="let user of users;let i=index" [ngClass]="setClasses(i)" >
        <img src="{{user.image}}"  alt="">                
        <br>
        <br>
        <span class="user_name white">
           {{user.name}}
        </span>
        <br>
        <span class="orange">
            {{user.cost}} {{user.currency}}
        </span>
    </div>
    <div id="item_more_block" class="text-center col-md-4">
        <span class="item_more violet" (click)="showMore($event)">
            +5 more items to be announced
        </span>
    </div>
</div>
<div class="container-content">
    <hr>
</div>
<div class="container-content text-center" id="result">
    <span class="white">You curreetly own 0 tichekts</span>
    <br>
    <span id="enter_lottery" class="white">
        Enter lottery
    </span>
    <br>
    <span class="grey">
        Ticket price:
    </span>
    <span class="orange">
        {{lotteryInfo.ticket}}k 
    </span>
    <span class="white">
        per ticket
    </span>
</div>
<div class="container-content text-center" id="lot_footer">
    <div class="text-center col-md-3">
        <img src="./images/violet_dollar.png" alt="">
        <span class="violet">{{lotteryInfo.total_mistery}}</span>
        <span class="white">Total lottery tickets for this Mistery Lottery</span>
    </div>
    <div class="text-center col-md-3">
        <img src="./images/green_dollar.png" alt="">
        <span class="green">{{lotteryInfo.ticket_avialable}}</span>
        <span class="white">lottery tickets still available </span>
    </div>
    <div class="text-center col-md-3">
        <img src="./images/orange_dollar.png" alt="">
        <span class="orange">{{lotteryInfo.ticket_owned}}</span>
        <span class="white">lottery tickets owned</span>
    </div>
    <div class="text-center col-md-3">                
        <span class="grey">Your chance of winning {{lotteryInfo.winning_balance}}%</span>
    </div>
</div>
</div>
